@import 'tailwindcss';
@plugin "daisyui";

@source "../resources/**/*.blade.php";
@source "../resources/**/*.js";
@source "../../vendor/wire-elements/modal/**/*.php";


@theme {
    --font-poetsen: 'Poetsen One', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    --color-customPink: #FF87AB;
    --color-customPurple: #7E80D8;
    --color-customYellow: #FDE12D;
    --color-customWhite: #F7F7FF;
    --color-customBlack: #0B0500;

    --z-autocomplete: 50;
    --z-modal: 100;
}